#input {
    color: #c2bd20;
    border: blank;
    width: 100%;
    height: 8;
    /* background: #182d32; */
}

ChatApp.-expanded-input #input {
    height: 72%;
}

#content_window {
    background: #0b1618;
}

InputText {
    width: 100%;
    margin: 0 25 0 0;
    color: #c2bd20;
}

ResponseCode {
    width: 100%;
    margin: 0 0 0 25;
    color: #ee7e28;
}

ResponseText {
    width: 100%;
    margin: 0 0 0 25;
    color: #b85616;
}

Footer>.footer--key {
    text-style: bold;
    background: #070e10;
    color: #1c7148;
}

Footer {
    dock: bottom;
    height: 1;
    background: #0b1618;
    color: #1c7148;
}

Footer>.footer--highlight-key {
    text-style: bold;
    background: #102022;
    color: #1ea564;
}

Footer>.footer--highlight {
    background: #183035;
    color: #1ea564;
}