#input {
    color: rgb(220, 200, 88);
    border: blank;
    width: 100%;
    height: 5;
    background: rgb(0, 27, 34);
}

ChatApp.-expanded-input #input {
    height: 72%;
}

#content_window {
    background: rgb(29, 36, 38);
}

InputText {
    width: 100%;
    margin: 0 25 0 0;
    color: rgb(220, 200, 88);
}

ResponseText {
    width: 100%;
    margin: 0 0 1 25;
    color: rgb(183, 68, 43);
    background: rgb(22, 35, 38);
}

Footer {
    background: black;
    color: rgb(222, 204, 105);
    dock: bottom;
    height: 1;
}

Footer>.footer--key {
    text-style: bold;
    background: rgb(76, 0, 0);
    color: rgb(222, 204, 105);
}

Footer>.footer--highlight {
    background: rgb(118, 1, 1);
    color: rgb(222, 204, 105);
}

Footer>.footer--highlight-key {
    background: rgb(118, 1, 1);
    text-style: bold;
    color: rgb(222, 204, 105);
}