#input {
    color: #c2bd20;
    border: blank;
    width: 100%;
    margin: 0 0 0 0;
    background: #182d32;
    
   
}
#editor {
    height: 25%;
    border: #b85616;
    background: #022025;
    color: #b85616;
    
}
#prompt-label {
    color: #ffffff;
    background: #006161;
    padding: 0 1 0 1;
    margin: 0 0 0 0;
    text-style: bold;
    

}

ChatApp.-expanded-input #input {
    height: 72%;
}

#content_window {
    background: #031f24;
    padding: 0 1 0 1;
}

InputText {
    width: 100%;
    margin: 0 2 0 2;
    color: #c2bd20;
    
}

ResponseText {
    width: 100%;
    margin: 0 3 0 3;
    color: #b85616;
    
}

Footer>.footer--key {
    text-style: bold;
    background: #070e10;
    color: #1c7148;
}

Footer {
    dock: bottom;
    height: 1;
    background: #0b1618;
    color: #1c7148;
}

Footer>.footer--highlight-key {
    text-style: bold;
    background: #102022;
    color: #1ea564;
}

Footer>.footer--highlight {
    background: #183035;
    color: #1ea564;
}